---
layout: single 
---
{%assign headers = "date,url,username,content,link0,link1,link2,link3,link4,url0,url1,url2,url3,url4" | split: "," %}
{% assign content = site.data.now | sort: 'date' | reverse %} 
{% assign timeframe = 1209600 %}
{%for row in content %}
  {% assign post_in_seconds = row.date | date: "%s" | plus: 0 %}
  {% assign recent_posts = "now" | date: "%s" | minus: timeframe  %}

  {% if post_in_seconds > recent_posts%}
  {% unless row.Source contains "dvertiser" %}
    <h5><a href="{{row.url}}" target=”_blank”>{{row.content | truncate: 60}}</a> {{row.date  | date: "%Y-%m-%d"  }} {{row.username}}</h5>
    <blockquote>{{row.content}}</blockquote>
    {% if row.link0 != Nil %}<p><a href="{{row.link0}}" target=”_blank”>{{row.link0}}</a>    
      {% if row.link1 != Nil %}<br><a href="{{row.link1}}" target=”_blank”>{{row.link1}}</a>{%endif%}
      {% if row.link2 != Nil %}<br><a href="{{row.link2}}" target=”_blank”>{{row.link2}}</a>{%endif%}
      {% if row.link3 != Nil %}<br><a href="{{row.link3}}" target=”_blank”>{{row.link3}}</a>{%endif%}
      {% if row.link4 != Nil %}<br><a href="{{row.link4}}" target=”_blank”>{{row.link4}}</a>{%endif%}</p>
    {% endif %}
    {% if row.url0 != Nil %}<a href="{{row.url0}}" target="_blank"><img src="{{row.url0}}" width="50%"/></a>
      {% if row.url1 != Nil %}<a href="{{row.url1}}" target="_blank"><img src="{{row.url1}}" width="50%"/></a>{%endif%}
      {% if row.url2 != Nil %}<a href="{{row.url2}}" target="_blank"><img src="{{row.url2}}" width="50%"/></a>{%endif%}
      {% if row.url3 != Nil %}<a href="{{row.url3}}" target="_blank"><img src="{{row.url3}}" width="50%"/></a>{%endif%}
      {% if row.url4 != Nil %}<a href="{{row.url4}}" target="_blank"><img src="{{row.url4}}" width="50%"/></a>{%endif%}
    {% endif %}
  {% endunless%}
  {% endif %}
{%endfor%}